body
    +light
.container
    width: 1170px
    margin: 0 auto
.section
    padding: 5.2% 0
    &:nth-child(2)
        padding-bottom: 0px
    &__title
        margin-bottom: 8.547%
        text-align: center
        text-transform: uppercase
        font-size: 1.875rem
        +bold
.bg-section
    background-color: $bg-section



+max-screen(1280px)
    .container--priceAndKind  
        width: 760px
+max-screen(1170px)
    html
        font-size: 14px
    .container
        width: 990px
        &--articles, &--priceAndKind
            width: 770px

+max-screen(1024px)
    .container
        width: 760px


+max-screen(768px)
    .container
        width: 540px


+max-screen(540px)
    html
        font-size: 10px
    .container
        width: 290px