.hero
    background: #f1f1f1 url('../dist/img/hero/hero-background.png') no-repeat center top 80px
    background-size: contain
    padding-top: 10.4166%
    padding-bottom: 14.0625%
    &__title
        font-size: 1.875rem
        margin-bottom: 3%
    &__subtitle
        font-size: 1.875rem
        +bold
        margin-bottom: 5%
    
    