section.section.catalog.bg-section
    .container
        h2.section__title Каталог скинали
        .catalog__block
            a(href="#").catalog__item
                img(src="img/catalog/1.png", alt="Коллажи").catalog__image
                .catalog__tag Коллажи
                .catalog__button-group
                    button.button.button--try-online Примерить онлайн
                    button.button.button--add Заказать
                    button.button.button--favorites
            a(href="#").catalog__item
                img(src="img/catalog/2.png", alt="Коллажи").catalog__image
                .catalog__tag Авторская коллекция
                .catalog__button-group
                    button.button.button--try-online Примерить онлайн
                    button.button.button--add Заказать
                    button.button.button--favorites
            a(href="#").catalog__item
                img(src="img/catalog/3.png", alt="Коллажи").catalog__image
                .catalog__tag Коллажи
                .catalog__button-group
                    button.button.button--try-online Примерить онлайн
                    button.button.button--add Заказать
                    button.button.button--favorites
            a(href="#").catalog__item
                img(src="img/catalog/4.png", alt="Коллажи").catalog__image
                .catalog__tag Авторская коллекция
                .catalog__button-group
                    button.button.button--try-online Примерить онлайн
                    button.button.button--add Заказать
                    button.button.button--favorites
            a(href="#").catalog__item
                img(src="img/catalog/2.png", alt="Коллажи").catalog__image
                .catalog__tag Коллажи
                .catalog__button-group
                    button.button.button--try-online Примерить онлайн
                    button.button.button--add Заказать
                    button.button.button--favorites
            a(href="#").catalog__item
                img(src="img/catalog/6.png", alt="Коллажи").catalog__image
                .catalog__tag Абстракция
                .catalog__button-group
                    button.button.button--try-online Примерить онлайн
                    button.button.button--add Заказать
                    button.button.button--favorites
            a(href="#").catalog__item
                img(src="img/catalog/7.png", alt="Коллажи").catalog__image
                .catalog__tag Коллажи
                .catalog__button-group
                    button.button.button--try-online Примерить онлайн
                    button.button.button--add Заказать
                    button.button.button--favorites
            a(href="#").catalog__item
                img(src="img/catalog/8.png", alt="Коллажи").catalog__image
                .catalog__tag Абстракция
                .catalog__button-group
                    button.button.button--try-online Примерить онлайн
                    button.button.button--add Заказать
                    button.button.button--favorites
        button.button.button--catalog.catalog__button Смотреть весь каталог скинали
        p.catalog__description Более 3000 изображений скинали в 25 рубриках