.logo
    min-width: 100%
    white-space: nowrap
    text-decoration: none
    display: block
    &__title
        display: flex
        margin-bottom: 5px
        text-transform: uppercase
        color: $text-color
        font-size: 1.125rem
        +bold
    &__description
        color: $text-color-light
        font-size: 0.875rem
    &--footer
        .logo__title, .logo__description
            color: #ffffff
+max-screen(540px)
    .logo
        &__title
            margin-bottom: 0
            font-size: 1rem
        &__description
            font-size: .7rem