section.offer.bg-section
    .container
        .offer__block.offer-block
            h2.offer__title Оставте заявку на расчет
            span.offer__description и получите скидку 30% на изготовление скинали или фартука для кухни
            form(action="#" class="form offer__form")
                .form__row
                    .form__group
                        .dropdown__label Вид стекла
                        div.dropdown#dropdown
                            span.dropdown__textfield Выберете стекло
                            ul.dropdown__list#list
                                li.dropdown__item С печатью
                                li.dropdown__item Без печати
                                li.dropdown__item Теплые
                                li.dropdown__item Холодные
                    .form__group
                        label(for="form-width" class="form__label") Ширина,см
                        input(id="form-width" type="text" class="form__input")
                    .form__group
                        label(for="form-height" class="form__label") Высота,см
                        input(id="form-height" type="text" class="form__input")

                .form__row.form__row--checkbox
                    .form__group.form__group--checkbox
                        label(for="montag" class="form__label form__label--checkbox")
                            input(id="montag" type="checkbox" class="form__checkbox" checked)
                            span.form__custom-checkbox
                            | Монтаж
                    .form__group.form__group--checkbox
                        label(for="dostavka" class="form__label form__label--checkbox")
                            input(id="dostavka" type="checkbox" class="form__checkbox")
                            span.form__custom-checkbox
                            | Доставка
                        
                .form__row
                    .form__group
                        input(type="text" class="form__input lft-b" placeholder="Ваше имя")
                    .form__group
                        input(type="tel" class="form__input" placeholder="Ваш телефон")
                    .form__group
                        input(type="submit" value="Получить скидку").button.button--form