.phone
    display: flex
    flex-direction: column
    text-align: right
    white-space: nowrap
    &__number
        margin-bottom: 3.66139%
        text-decoration: none
        color: $text-color
        font-size: 1.125rem
        +bold
    &__small-text
        color: $text-color-light
        font-size: 0.875rem


+max-screen(1024px)
    .phone
        &__number
            font-size: .8rem
+max-screen(768px)
    .phone
        display: none