.whereIsCheaper
    .whereIsCheaper__wrapper
        .container
            .offer-block.offer-block--whereIsCheaper
                h2.offer__title Ищите где дешевле и лучше?
                span.offer__description Если у Вас уже есть расчет от другой фирмы, но Вы хотите цену дешевле, укажите ее - 
                    | и мы вам пересчитаем заказ с максимальной скидкой
                form(action="#" class="form offer__form")
                    .form__row
                        .form__group
                            input(type="text" class="form__input lft-b" placeholder="Ваше имя")
                        .form__group
                            input(type="tel" class="form__input" placeholder="Ваш телефон")
                        .form__group
                            input(type="text" class="form__input" placeholder="Ваша цена")                
                    .form__row.mr-t
                        .form__group
                            input(type="submit" value="Получить скидку").button.button--form
                        p.form__text Ваши данные надежно защищены.</br>
                            |        Отправление заявки ни к чему не обязывает.