section.section.priceAndKind
    .container.container--priceAndKind
        h2.section__title Цены и виды скинали
        .priceAndKind__block
            .priceAndKind-card.priceAndKind__priceAndKind-card
                .priceAndKind-card__image-wrapper
                    img(src="img/priceAndKind/1.png", alt="glass").priceAndKind__image
                .priceAndKind-card__text
                    .priceAndKind-card__kind Прозрачные
                    .priceAndKind-card__price от 3500 р/м2
                .priceAndKind-card__button-wrapper
                    .help-block
                    button.button.button--priceAndKind Оставить заявку
            .priceAndKind-card.priceAndKind__priceAndKind-card
                .priceAndKind-card__image-wrapper
                    img(src="img/priceAndKind/2.png", alt="glass").priceAndKind__image
                .priceAndKind-card__text
                    .priceAndKind-card__kind Однотонные
                    .priceAndKind-card__price от 3500 р/м2
                .priceAndKind-card__button-wrapper
                    .help-block
                    button.button.button--priceAndKind Оставить заявку
            .priceAndKind-card.priceAndKind__priceAndKind-card
                .priceAndKind-card__image-wrapper
                    img(src="img/priceAndKind/3.png", alt="glass").priceAndKind__image
                .priceAndKind-card__text
                    .priceAndKind-card__kind Полноцветные
                    .priceAndKind-card__price от 3500 р/м2
                .priceAndKind-card__button-wrapper
                    .help-block
                    button.button.button--priceAndKind Оставить заявку
            .priceAndKind-card.priceAndKind__priceAndKind-card
                .priceAndKind-card__image-wrapper
                    img(src="img/priceAndKind/4.png", alt="glass").priceAndKind__image
                .priceAndKind-card__text
                    .priceAndKind-card__kind Стекло 'Optiwite'
                    .priceAndKind-card__price от 3500 р/м2
                .priceAndKind-card__button-wrapper
                    .help-block
                    button.button.button--priceAndKind Оставить заявку
            .priceAndKind-card.priceAndKind__priceAndKind-card
                .priceAndKind-card__image-wrapper
                    img(src="img/priceAndKind/5.png", alt="glass").priceAndKind__image
                .priceAndKind-card__text
                    .priceAndKind-card__kind Зеркальные
                    .priceAndKind-card__price от 3500 р/м2
                .priceAndKind-card__button-wrapper
                    .help-block
                    button.button.button--priceAndKind Оставить заявку
            .priceAndKind-card.priceAndKind__priceAndKind-card
                .priceAndKind-card__image-wrapper
                    img(src="img/priceAndKind/6.png", alt="glass").priceAndKind__image
                .priceAndKind-card__text
                    .priceAndKind-card__kind С подсветкой
                    .priceAndKind-card__price от 3500 р/м2
                .priceAndKind-card__button-wrapper
                    .help-block
                    button.button.button--priceAndKind Оставить заявку
            .priceAndKind-card.priceAndKind__priceAndKind-card
                .priceAndKind-card__image-wrapper
                    img(src="img/priceAndKind/7.png", alt="glass").priceAndKind__image
                .priceAndKind-card__text
                    .priceAndKind-card__kind Световые панели
                    .priceAndKind-card__price от 3500 р/м2
                .priceAndKind-card__button-wrapper
                    .help-block
                    button.button.button--priceAndKind Оставить заявку
            .priceAndKind-card.priceAndKind__priceAndKind-card
                .priceAndKind-card__image-wrapper
                    img(src="img/priceAndKind/8.png", alt="glass").priceAndKind__image
                .priceAndKind-card__text
                    .priceAndKind-card__kind Панно, картины
                    .priceAndKind-card__price от 3500 р/м2
                .priceAndKind-card__button-wrapper
                    .help-block
                    button.button.button--priceAndKind Оставить заявку
