.slider
    &-block
        display: flex
        justify-content: center
        align-items: center
        width: 100%
    &__item
        width: 82.835%
        padding: 17.094% 0
        // width: 970px
        // height: 400px
        position: relative
    &__before,&__after
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        overflow: hidden
    &__after
        width: 50%
    &__image
        display: block
        width: 970px
        height: 400px
    &__control
        width: 40px
        height: 40px
        border-radius: 50%
        border: 2px solid #ffffff
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%) rotate(90deg)
        cursor: pointer
        &:before
            content: ''
            display: block
            width: 180px
            height: 2px
            background-color: #ffffff
            position: absolute
            top: calc(50% - 2px)
            left: 38px
        &:after
            content: ''
            display: block
            width: 180px
            height: 2px
            background-color: #ffffff
            position: absolute
            top: calc(50% - 2px)
            right: 38px
        &-arrows
            &:before
                content: ''
                position: absolute
                bottom: -2px
                left: 10px
                border: 8px solid transparent
                border-top: 8px solid #ffffff
            &:after
                content: ''
                position: absolute
                top: -2px
                right: 10px
                border: 8px solid transparent
                border-bottom: 8px solid #ffffff

