section.section.slider
    .container
        h2.section__title До и после
        .slider-block
            .slider__item#slider__item
                .slider__before#slider__before
                    img(src="img/slider/1.png", alt="before").slider__image
                .slider__after#slider__after
                    img(src="img/slider/2.png", alt="after").slider__image
                .slider__control#slider__control
                    span.slider__control-arrows
