section.section.stages.bg-section
    .container
        h2.section__title Этапы работы
        .stages-block
            .stage
                img(src="img/stages/1.png", alt="Заявка").stage__image
                h6.stage__title Заявка
                p.stage__description 
                    | Вы оставляете заявку 
                    | на нашем сайте или 
                    | по телефону
            .stage
                img(src="img/stages/2.png", alt="Замер").stage__image
                h6.stage__title Замер
                p.stage__description 
                   | Вы произвилите замер
                   | сами или наш специалист
                   | выезжает к вам  
            .stage
                img(src="img/stages/3.png", alt="Договор").stage__image
                h6.stage__title Договор
                p.stage__description 
                    | Вы оставляете заявку 
                    | на нашем сайте или 
                    | по телефону
            .stage
                img(src="img/stages/4.png", alt="Дизайн").stage__image
                h6.stage__title Дизайн
                p.stage__description 
                    | Вы произвилите замер
                    | сами или наш специалист
                    | выезжает к вам 
            .stage
                img(src="img/stages/5.png", alt="Производство").stage__image
                h6.stage__title Производство
                p.stage__description 
                    | Вы оставляете заявку 
                    | на нашем сайте или 
                    | по телефону
            .stage
                img(src="img/stages/6.png", alt="Монтаж").stage__image
                h6.stage__title Монтаж
                p.stage__description 
                    | Вы произвилите замер
                    | сами или наш специалист
                    | выезжает к вам 