section.section.section--comments.bg-section.comments
    .container
        h2.section__title Отзывы наших клиентов
        .comments-block
            .comment
                .comment__user-text
                    p
                        | Девушка подобрала лучший вариант для меня, без
                        | первого взноса и с минимальной переплатой. 
                        | У Банка очень много способов погашения,и
                        | удобное мобильное приложение.
                .comment__user-image
                    img(src="img/comments/1.png", alt="Фото")
                .comment__user-name
                    span
                        | Екатерина Иванова </br> Москва
            .comment
                .comment__user-text
                    p
                        | Очень часто мы сталкиваемся с недопониманием
                        | со стороны сотрудников банка, и иной раз идти не
                        | хочется...В очередной раз "навешают лапши на
                        | уши" и культурно пошлют...

                .comment__user-image
                    img(src="img/comments/2.png", alt="Фото")
                .comment__user-name
                    span
                        | Екатерина Иванова </br> Москва
            .comment
                .comment__user-text
                    p
                        | Хочу рассказать об опыте знакомства с Почта
                        | банком. Мне срочно были нужны деньги, а
                        | времени на сбор документов для кредита не
                        | было. Подруга посоветовала обратиться в офис
                        | Почта банка на ул. Тухачевского. 
                .comment__user-image
                    img(src="img/comments/3.png", alt="Фото")
                .comment__user-name
                    span
                        | Екатерина Иванова </br> Москва
            