section.section.advantages
    .container
        h2.section__title Наши преимущества
        .advantages__block.advantages-block
            .advantages__item
                img(src="img/advantages/1.png", alt="картинка").advantages__image
                span.advantages__description Бесплатный </br> дизайн-макет
            .advantages__item
                img(src="img/advantages/1.png", alt="картинка").advantages__image
                span.advantages__description Пожизненная </br> гарантия
            .advantages__item
                img(src="img/advantages/1.png", alt="картинка").advantages__image
                span.advantages__description Большой </br> каталог изображений
            .advantages__item
                img(src="img/advantages/1.png", alt="картинка").advantages__image
                span.advantages__description 100% соблюдение </br> сроков
            .advantages__item
                img(src="img/advantages/1.png", alt="картинка").advantages__image
                span.advantages__description Собственное </br> производство
            .advantages__item
                img(src="img/advantages/1.png", alt="картинка").advantages__image
                span.advantages__description Минимальная цена в городе </br> от 1600 р метр