.button
    display: flex
    justify-content: center
    align-items: center
    background-color: $blue
    border: none
    outline: none
    color: #ffffff
    cursor: pointer
    font-size: 0.9375rem
    +bold
    text-transform: uppercase
    white-space: nowrap
    &--transparent
        font-size: 0.75rem
        background-color: #ffffff
        color: $blue
        border: 2px solid $blue
        padding: 1.145299% 1.7094%
        // width: 17.8632%
        &:hover
            background-color: $blue
            color: #ffffff

    &--hero
        line-height: .7
        padding: 2.13675% 3.84615%
        &:hover
            background-color: #3866c7

    &--form
        width: 100%
        padding: 11.6666% 0
        line-height: .9
        &:hover
            background-color: #3866c7

    &--try-online, &--add
        padding: 10px
        font-size: 11px
        color: #ffffff
        background-color: #6a99e9
        &:hover
            background-color: #ffffff
            color: #6a99e9
            
    &--favorites
        width: 33px
        height: 33px
        background: #6a99e9 url('../dist/img/catalog/heart.png') no-repeat center

    &--catalog
        padding: 2.5641% 2.82%

    &--priceAndKind
        width: 100%
        padding: 19.5px 0
+max-screen(1024px)
    .button--form
        line-height: 1.2
+max-screen(770px)
    .button--form
        font-size: 10px
+max-screen(540px)
    .catalog__button-group
        display: none
    .button--form
        font-size: 12px
      