footer.footer
    .container
        .footer__wrapper
            .footer__logo
                include ../logo/logo
                span.footer__licence © Фабрика скинали №1
            .footer__paymant
                img(src="img/footer/webmoney.png", alt="webmoney").footer__paymant__image
                img(src="img/footer/yandex.png", alt="yandex").footer__paymant__image
                img(src="img/footer/mastercard.png", alt="mastercard").footer__paymant__image
                img(src="img/footer/visa.png", alt="visa").footer__paymant__image
            .footer__contacts
                a(href="tel:+74991234567").footer__phone +7 499 123-45-67
                a(href="mailto:5404177@mail.ru").footer__mail 5404177@mail.ru
                .footer__social-network
                    a(href="").footer__social-network__icon
                        img(src="img/footer/twitter.png", alt="twitter")
                    a(href="").footer__social-network__icon
                        img(src="img/footer/facebook.png", alt="facebook")
                    a(href="").footer__social-network__icon
                        img(src="img/footer/vk.png", alt="vk")
