section.section.bg-section.contacts
    .container
        h2.section__title Контакты
        .contacts-block
            .contacts__info
                img(src="img/contacts/phone.png", alt="telephone").contacts__image
                a(href="tel:+74991234567").contacts__text +7 499-123-45-67
            .contacts__info
                img(src="img/contacts/location.png", alt="location").contacts__image
                span.contacts__text Каширинское шоссе, д. 23, офис 345
            .contacts__info
                img(src="img/contacts/mail.png", alt="mail").contacts__image
                a(href="5404177@mail.ru").contacts__text 5404177@mail.ru

    .contacts__map.map#map
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.113997597545!2d37.61806443542856!3d55.75652187973018!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a5a6e7cf4d7%3A0x336b2c2c3ee08ec6!2sKazan+Cathedral!5e0!3m2!1suk!2sua!4v1557991479782!5m2!1suk!2sua" width="100%" height="410" frameborder="0" style="border:0" allowfullscreen></iframe>

    .container
        .contacts__questions
            span.contacts__question Остались вопросы?
            a(href="").contacts__answer Задайте их менеджеру