section.section.articles
    .container.container--articles
        .articles__text
            p.articles__description
                | Полезное или что важно знать о скинали...
            a(href="#").articles__all-articles Читать все статьи
        .articles__block
            .articles__item.articles-item
                .articles-item__image-wrapper
                    img(src="img/articles/1.png", alt="glass").articles-item__image
                span.articles-item__title Виды стекла
            .articles__item.articles-item
                .articles-item__image-wrapper
                    img(src="img/articles/2.png", alt="glass").articles-item__image
                span.articles-item__title Виды печати
            .articles__item.articles-item
                .articles-item__image-wrapper
                    img(src="img/articles/3.png", alt="glass").articles-item__image
                span.articles-item__title Виды крепежа и монтажа
            .articles__item.articles-item
                .articles-item__image-wrapper
                    img(src="img/articles/4.png", alt="glass").articles-item__image
                span.articles-item__title Вопросы - ответы